.places {
    max-width: 984px;
    margin: 91px auto 92px auto;
  }
  @media screen and (max-width: 1240px) {
    .places {
    max-width: 928px;
    margin: 92px auto 92px auto;
  }
  }
  @media screen and (max-width: 970px) {
    .places {
    max-width: 720px;
    margin: 88px auto 90px auto;
  }
  }
  @media screen and (max-width: 425px) {
    .places {
    max-width: 320px;
    margin: 64px auto 66px auto;
  }
  }