@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("./vendor/fonts/Inter-Thin.woff2") format("woff2"),
         url("./vendor/fonts/Inter-Thin.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 100;
    font-display: swap;
    src: url("./vendor/fonts/Inter-ThinItalic.woff2") format("woff2"),
         url("./vendor/fonts/Inter-ThinItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("./vendor/fonts/Inter-ExtraLight.woff2") format("woff2"),
         url("./vendor/fonts/Inter-ExtraLight.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 200;
    font-display: swap;
    src: url("./vendor/fonts/Inter-ExtraLightItalic.woff2") format("woff2"),
         url("./vendor/fonts/Inter-ExtraLightItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("./vendor/fonts/Inter-Light.woff2") format("woff2"),
         url("./vendor/fonts/Inter-Light.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 300;
    font-display: swap;
    src: url("./vendor/fonts/Inter-LightItalic.woff2") format("woff2"),
         url("./vendor/fonts/Inter-LightItalic.woff") format("woff");
  }
  



  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("./vendor/fonts/Inter-Regular.woff2") format("woff2"),
         url("./vendor/fonts/Inter-Regular.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 400;
    font-display: swap;
    src: url("Inter-Italic.woff2?v=3.19") format("woff2"),
         url("Inter-Italic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("Inter-Medium.woff2?v=3.19") format("woff2"),
         url("Inter-Medium.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 500;
    font-display: swap;
    src: url("Inter-MediumItalic.woff2?v=3.19") format("woff2"),
         url("Inter-MediumItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("Inter-SemiBold.woff2?v=3.19") format("woff2"),
         url("Inter-SemiBold.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 600;
    font-display: swap;
    src: url("Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
         url("Inter-SemiBoldItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("./vendor/fonts/Inter-Bold.woff2") format("woff2"),
         url("./vendor/fonts/Inter-Bold.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 700;
    font-display: swap;
    src: url("Inter-BoldItalic.woff2?v=3.19") format("woff2"),
         url("Inter-BoldItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("Inter-ExtraBold.woff2?v=3.19") format("woff2"),
         url("Inter-ExtraBold.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 800;
    font-display: swap;
    src: url("Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"),
         url("Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("./vendor/fonts/Inter-Black.woff2") format("woff2"),
         url("./vendor/fonts/Inter-Black.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 900;
    font-display: swap;
    src: url("./vendor/fonts/Inter-BlackItalic.woff2") format("woff2"),
         url("./vendor/fonts/Inter-BlackItalic.woff") format("woff");
  }




.page { 
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif, 'Inter';
    background-color: #2A2C2F;
    color: #FFFFFF;
  }

  .header {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: 28px auto 0 auto;
  }
  @media screen and (max-width: 1240px) {
    .header {
    max-width: 928px;
  }
  }
  @media screen and (max-width: 970px) {
    .header {
    max-width: 720px;
  }
  }
  @media screen and (max-width: 750px) {
    .header {
    max-width: 505px;
  }
  }
  @media screen and (max-width: 425px) {
    .header {
    max-width: 288px;
  }
    .header__logo {
    max-width: 142px;
  }
  }

  .header-links {
    display: flex;
    gap: 18px;
    margin: 18px 0 6px 0;
    margin-bottom: 0;
  }

    .link {
        color: #FFFFFF;
        text-decoration: none;
    }

    .link:hover {
        opacity: 0.5;
    }

  .header__lang-link {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
  }
  @media screen and (max-width: 425px) {
    .header__lang-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
  }

  .header__lang-link_active {
    text-decoration: underline;
  }


  .lead {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 984px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (max-width: 1240px) {
    .lead {
    max-width: 928px;
  }
  }
  @media screen and (max-width: 970px) {
    .lead {
    max-width: 768px;
  }
  }
  @media screen and (max-width: 750px) {
    .lead {
    max-width: 600px;
  }
  }
  @media screen and (max-width: 425px) {
    .lead {
    max-width: 320px;
  }
  }


  .lead__title {
    max-width: 720px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 0;
    padding-top: 56px;
  }
  @media screen and (max-width: 1240px) {
    .lead__title {
    padding-top: 48px;
  }
  }
  @media screen and (max-width: 750px) {
    .lead__title {
    max-width: 505px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }
  }
  @media screen and (max-width: 425px) {
    .lead__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }
  }
  

   .lead__subtitle {
    max-width: 640px;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }
  @media screen and (max-width: 1240px) {
    .lead__subtitle {
    padding-bottom: 56px;
  }
  }
  @media screen and (max-width: 750px) {
    .lead__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 40px;
  }
  }
  @media screen and (max-width: 425px) {
    .lead__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 40px;
  }
  }


  .lead__image {
    max-width: 100%;
    object-fit: cover;
  }

  .lead__caption {
    align-self: start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 8px 0 0 0;
  }
  @media screen and (max-width: 970px) {
    .lead__caption {
    margin: 8px 0 0 24px;
  }
  }
  @media screen and (max-width: 425px) {
    .lead__caption {
    margin: 8px 0 0 18px;
  }
  }

  .intro {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin: 92px auto 93px auto;
  }
  @media screen and (max-width: 1240px) {
    .intro {
    max-width: 928px;
    margin: 92px auto 92px auto;
  }
  }
  @media screen and (max-width: 970px) {
    .intro {
    max-width: 720px;
    margin: 88px auto 88px auto;
  }
  }
  @media screen and (max-width: 425px) {
    .intro {
    max-width: 288px;
    margin: 64px auto 64px auto;
  }
  }


  .intro__title {
    max-width: 690px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
  }
  @media screen and (max-width: 750px) {
    .intro__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
  }
  @media screen and (max-width: 425px) {
    .intro__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
  }

  .intro__text {
    max-width: 690px;
    margin: 0;
    padding: 40px 0 33px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }

  .intro__list {
    max-width: 690px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
  }

  .intro__list_thin {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  .photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 284px);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto 0 auto;
    justify-content: center;
    gap: 16px;
    max-width: 1184px;
  }
  @media screen and (max-width: 1240px) {
    .photo-grid {
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
  }
  @media screen and (max-width: 970px) {
    .photo-grid {
    grid-template-columns: repeat(auto-fit, 352px);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
  }
  }
  @media screen and (max-width: 425px) {
    .photo-grid {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 12px;
  }
  }


  .photo-grid__item {
    max-width: 100%;
    object-fit: contain;
    object-position: left top;
  }

  .places {
    max-width: 984px;
    margin: 91px auto 92px auto;
  }
  @media screen and (max-width: 1240px) {
    .places {
    max-width: 928px;
    margin: 92px auto 92px auto;
  }
  }
  @media screen and (max-width: 970px) {
    .places {
    max-width: 720px;
    margin: 88px auto 90px auto;
  }
  }
  @media screen and (max-width: 425px) {
    .places {
    max-width: 320px;
    margin: 64px auto 66px auto;
  }
  }

  .place {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 80px;
  }
  @media screen and (max-width: 970px) {
    .place {
    gap: 73px;
  }
  }


  .place__article {
    display: grid;
    grid-template-columns: 460px auto;
    gap: 48px 40px; 
  }
  @media screen and (max-width: 1240px) {
    .place__article {
    grid-template-columns: 440px auto;
    gap: 48px 32px;
  }
  }
  @media screen and (max-width: 970px) {
    .place__article {
    grid-template-columns: 340px auto;
    gap: 48px 28px;
  }
  }
  @media screen and (max-width: 600px) {
    .place__article {
    grid-template-columns: 320px;
    grid-template-rows: auto auto auto auto;
    gap: 32px;
    justify-content: center;
  }
  }


  .place__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
  }
  @media screen and (max-width: 970px) {
    .place__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
  }
  }
  @media screen and (max-width: 425px) {
    .place__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px 0 16px;
  }
  }



  .place__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  @media screen and (max-width: 425px) {
    .place__website {
    padding-left: 16px;
  }
  }

  .place__url-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
  }

  .place__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
  }

  .place__image {
    max-width: 100%;
  }

  .place__paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 26px;
  }
  @media screen and (max-width: 1240px) {
    .place__paragraphs {
    gap: 27px;
  }
  }
  @media screen and (max-width: 970px) {
    .place__paragraphs {
    gap: 25px;
  }
  }
  @media screen and (max-width: 425px) {
    .place__paragraphs {
    max-width: 288px;
    margin: 0 auto;
  }
  }
  

  .place__paragraph {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
  }
  @media screen and (max-width: 970px) {
    .place__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }
  }



  .cover {
    background-image: url(./images/sprint-3-images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    max-width: 1184px;
  }
  @media screen and (max-width: 425px) {
    .cover {
        max-height: 200px;
    }
    }

  .cover__link {
    display: block;
    padding: 245px 312px;
    text-decoration: none;
    background-color: rgba(42, 44, 47, 0.3);
    }
    @media screen and (max-width: 1242px) {
    .cover__link {
        padding: 195px 232px;
    }
    }
    @media screen and (max-width: 910px) {
    .cover__link {
        padding: 115px 104px;
    }
    }
    @media screen and (max-width: 425px) {
    .cover__link {
    padding: 33px 16px;
    }
    }


   .cover__link:hover {
    background-color: #2A2C2F;
    opacity: 0.8;
}

  .cover__title {
    max-width: 560px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    z-index: 2;
  }
  @media screen and (max-width: 754px) {
    .cover__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
  }


  .cover__subtitle {
    max-width: 360px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
    z-index: 3;
    padding-top: 32px;
  }
  @media screen and (max-width: 425px) {
    .cover__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-top: 16px;
  }
  }

  .footer { 
    display: flex;
    flex-wrap: wrap;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-content: center;
    padding-top: 92px;
  }
  @media screen and (max-width: 1240px) {
    .footer {
    max-width: 928px;
  }
  }
  @media screen and (max-width: 970px) {
    .footer {
    max-width: 720px;
  }
  }
  @media screen and (max-width: 750px) {
    .footer {
    max-width: 505px;
  }
  }
  @media screen and (max-width: 425px) {
    .footer {
    max-width: 186px;
    padding: 64px 118px 24px 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
  }
  }

  .footer__links {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0 0 0 0;
    gap: 18px;
    margin: 0;
  }
  @media screen and (max-width: 425px) {
    .footer__links {
    gap: 32px;
  }
  }

  .footer__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;  
  }
  @media screen and (max-width: 425px) {
    .footer__link {
    max-width: 186px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
  }
  }

  .footer__copyright {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
  }
  @media screen and (max-width: 425px) {
    .footer__copyright {
    max-width: 186px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: start;
    padding: 48px 0 16px 0;
  }
  }

  