.lead {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 984px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (max-width: 1240px) {
    .lead {
    max-width: 928px;
  }
  }
  @media screen and (max-width: 970px) {
    .lead {
    max-width: 768px;
  }
  }
  @media screen and (max-width: 750px) {
    .lead {
    max-width: 600px;
  }
  }
  @media screen and (max-width: 425px) {
    .lead {
    max-width: 320px;
  }
  }