.cover__subtitle {
    max-width: 360px;
    text-align: center;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
    z-index: 2;
    padding-top: 32px;
  }
  @media screen and (max-width: 425px) {
    .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    padding-top: 16px;
  }
  }