.footer__copyright {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    margin: 0;
  }
  @media screen and (max-width: 716px) {
    .footer__copyright {
    padding-top: 20px;
    gap: 24px;
  }
  }
  
  @media screen and (max-width: 425px) {
    .footer__copyright {
    min-width: 220px;
    align-items: flex-start;
    line-height: 14px;
    text-align: start;
    padding: 48px 0 16px 0;
    flex-direction: row;
  }
  }
  