.cover {
    background-image: url(../../images/sprint-3-images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    max-width: 1184px;
  }
  @media screen and (max-width: 425px) {
    .cover {
        max-height: 200px;
    }
    }