.place {
    display: grid;
    grid-template-columns: 460px auto;
    gap: 48px 40px; 
  }
  @media screen and (max-width: 1240px) {
    .place {
    grid-template-columns: 440px auto;
    gap: 48px 32px;
  }
  }
  @media screen and (max-width: 970px) {
    .place {
    grid-template-columns: 340px auto;
    gap: 48px 28px;
  }
  }
  @media screen and (max-width: 600px) {
    .place {
    grid-template-columns: 320px;
    grid-template-rows: auto auto auto auto;
    gap: 32px;
    justify-content: center;
  }
  }